:root {
  --green: #1db954;
  --white: #ffffff;
  --black: #191414;
  --app-height: 100vh;
  --player-height: 100px;
  --player-height-mobile: 160px;
}

* {
  box-sizing: border-box;
}

.MuiTabs-indicator {
  background-color: var(--green) !important;
}

body {
  background-color: var(--black);
  padding-bottom: env(safe-area-inset-bottom);
  color: var(--white);
  font-family: "Raleway", sans-serif !important;
}

.bottomNav {
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.bottomNav::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

 
/* Handle */
.bottomNav::-webkit-scrollbar-thumb {
  background: darkgray; 
}

/* Handle on hover */
.bottomNav::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100); 
}

a {
  color: inherit !important;
  text-decoration: none;
}

@media(hover: hover) and (pointer: fine) {
  .paper:hover {
    background-color: rgba(50,50,50, 0.3);
    cursor: pointer;
  }
}


