:root {
  --green: #1db954;
  --white: #ffffff;
  --black: #191414;
}

.MuiTabs-indicator {
  background-color: var(--green) !important;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Raleway", sans-serif !important;
}

.bottomNav {
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.bottomNav::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

 
/* Handle */
.bottomNav::-webkit-scrollbar-thumb {
  background: darkgray; 
}

/* Handle on hover */
.bottomNav::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100); 
}
